* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background: #7F7FD5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #91EAE4, #86A8E7, #7F7FD5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #91EAE4, #86A8E7, #7F7FD5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* ----------------------------------------------------------- */
/* ------------------------- wrapper ------------------------- */
/* ----------------------------------------------------------- */
.wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 40rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 2rem;

    background: white;
}

.wrapper header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom: 0.1rem solid #bfbfbf;

    color: #7F7FD5;
}

/*--------------------------*/
/*--------- header ---------*/
/*--------------------------*/
.wrapper header i {
    margin-right: 0.5rem;

    cursor: pointer;
    font-size: 0rem;
}

.wrapper.active header i{
    font-size: 1.3rem;
    margin-left: 0.3rem;
}

/*--------------------------*/
/*---------- input ---------*/
/*--------------------------*/
.wrapper .input-section {
    margin: 1.5rem 1rem;
}

.wrapper.active .input-section {
    display: none;
}

/* info text */
.input-section .info-txt {
    /* hidden */
    display: none;
    margin-bottom: 0.8rem;
    padding: 0.5rem 0.2rem;
    border-radius: 0.2rem;

    background: red;
    color: white;
    font-size: medium;
    text-align: center;
}

.info-txt.error {
    display: block;
    color: #721c24;
    background: #f8d7da;
    border: 0.1rem solid #f5c6cb;
}

.info-txt.pending {
    display: block;
    color: #0c5460;
    background: #d1ecf1;
    border: 0.1rem solid #bee5eb;
}

/*input field and button */
.input-section :where(input, button) {
    width: 100%;
    height: 3rem;
    border: none;
    border-radius: 0.2rem;
    outline: none;

    font-size: large;
}

.input-section input {
    border: 0.1rem solid #bfbfbf;
    text-align: center;
}

.input-section input:is(:focus, :valid) {
    border: 0.1rem solid #43affc;
}

.input-section button {
    color: white;
    background: #7F7FD5;
    cursor: pointer;
}

/*--------------------------*/
/*------- separator --------*/
/*--------------------------*/
.input-section .separator {
    height: 0.1rem;
    width: 100%;
    margin: 1rem 0;
    /* making the or <tag> aligned */
    display: flex;
    align-items: center;
    justify-content: center;

    background: #bfbfbf;
}

.separator::before {
    padding: 0 0.8rem;

    content: "or";
    font-size: large;
    color: grey;
    background: white;
}

/* ----------------------------------------------------------- */
/* ---------------- weather section - wrapper ---------------- */
/* ----------------------------------------------------------- */

.wrapper .weather-section {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.wrapper.active .weather-section {
    display: flex;
}

.weather-section #state {
    font-size: 8rem;
    color: #7F7FD5;
}

.weather-section .temp {
    display: flex;

    font-size: 3rem;
    font-weight: normal;
}

.weather-section .temp .number {
    font-weight: bold;
}

.weather-section .temp .degree {
    display: block;
    margin: -0.2rem 0.1rem 0 0;

    font-size: 2.5rem;
}

.weather-section .weather {
    margin: -0.4rem 0 0 0;
    font-size: 1.5rem;
    text-align: center;
}

.weather-section .location {
    margin: 0.5rem 0 1rem;

    font-size: 1.1rem;
}

/*--------------------------*/
/*-------- details ---------*/
/*--------------------------*/

.weather-section .bottom-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.1rem solid #bfbfbf;
    padding-top: 0.5rem;
}

.bottom-details .column {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column #details {
    margin-right: 0.5rem;
    color: #7F7FD5;
    font-size: 2.5rem;
}

.column.humidity {
    border-left: 0.1rem solid #bfbfbf;
}

.details .temp,
.humidity {
    font-size: 1rem;
    font-weight: normal;
}

.details .temp .degree {
    margin: 0;
    font-size: 1.1rem;
    padding: 0 0.2rem 0 0.1rem;
}

.details .number {
    font-weight: bold;
}

.details p {
    font-size: 0.9rem;
}